<div class="container">
    <div class="row">
        <page-title>
            <h5>{{title}}</h5>
        </page-title>
        <div class="card-panel z-depth-5">
            <form name="form" method="GET" @submit.prevent="submit()">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" v-model="bankAccount.name" placeholder="Digite o nome" name="name"/>
                        <label class="active">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select v-model="bankAccount.bank_id" id="bank_id" class="browser-default">
                            <option value="" disabled selected>Escolha um Banco</option>
                            <option v-for="o in banks" :value="o.id">{{ o.name }}</option>
                        </select>
                        <label class="active">Banco</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" v-model="bankAccount.agency" placeholder="Digite a agência" name="agency"/>
                        <label class="active">Agência</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" v-model="bankAccount.account" placeholder="Digite a conta" name="account"/>
                        <label class="active" >Conta corrente</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="checkbox" class="filled-ind" v-model="bankAccount.default" id="account_id"/>
                        <label for="account_id">Padrão?</label>
                    </div>
                </div>
                <a class="btn-flat btn-large waves-effect waves-red" v-link="{name: 'bank-account.list'}">
                    <div class="col s6">
                        <i class="material-icons">arrow_back</i>
                    </div>
                    <div class="col s6">Voltar</div>
                </a>
                <button type="submit" class="btn-large waves-effect right">
                    <div class="col s6">
                        <i class="large material-icons">save</i>
                    </div>
                    <div class="col s6">Salvar</div>
                </button>
            </form>
        </div>
    </div>
</div>